@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "tailwindcss"; 

body {
  background: gray;
  color: var(--foreground);
  font-family: 'Poppins', sans-serif
}

main{
  width: 100vw;
  display: flex;
}